/* You can add global styles to this file, and also import other style files */
// regular style toast
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Avenir&display=swap');


:root{
    --bg-body: #e7f6fc;
    --bg-card: #8ecae6;
    --primary-color: #219ebc;
    --primary-light: #fff;
    --secondary-light: #c8c8c8;
    --secondary-color: #023047;
    --yellow: #f2d000;
}

body{
    background-color: var(--bg-body) !important ;
    color: var(--text-color-light) !important;
    font-family: 'Avenir' !important;
}
.ml-1{
    margin-left: 1rem;
}

.warning {
    background: #f89200 !important;
}
.error {
    background: #f44336 !important;
}
.ready{
    background: #32c5e4 !important;
}
.running {
    background: #45efa9 !important;
}
.time_out, .suspended, .failed{
    background: #f44949 !important;
}
.ok, .activated, .badge-success{
    background:#74bf24 !important;
}
.deleted{
    background: #ff6633 !important; 
}
.badge-success{
    border-radius: 5px;
    color: #fff;
    padding: 5px;
    font-size: 12px !important;
}
