<nav>
    <ul>
        <li>
            <div class="user-profile-image">
                <img src="../../assets/images/user.png" alt="user-profile-image" />
            </div>
        </li>
        <li>
            <a routerLink="/dashboard" routerLinkActive="active">
                <div class="icon">
                    <i class="bi bi-house-door-fill"></i>
                </div>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/products">
                <div class="icon">
                    <i class="bi bi-people-fill"></i>
                </div>
                <span>Products</span>
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/inventory">
                <div class="icon">
                    <i class="bi bi-people-fill"></i>
                </div>
                <span>Inventory</span>
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/orders">
                <div class="icon">
                    <i class="bi bi-people-fill"></i>
                </div>
                <span>Orders</span>
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/sales">
                <div class="icon">
                    <i class="bi bi-people-fill"></i>
                </div>
                <span>Sales</span>
            </a>
        </li>
        <li>
            <a routerLink="/dashboard/customers">
                <div class="icon">
                    <i class="bi bi-people-fill"></i>
                </div>
                <span>Customers</span>
            </a>
        </li>
        <li>
            <a >
                <div class="icon">
                    <i class="bi bi-people-fill"></i>
                </div>
                <span>Logout</span>
            </a>
        </li>

    </ul>
</nav>